<div class="github-fork-ribbon-wrapper right">
	<div class="github-fork-ribbon">
		<a href="https://github.com/RomainButteaud/Kaffeine" target="_blank">Fork me on GitHub</a>
	</div>
</div>

<div id="content">

	<div id="header">
		<%= image_tag "heroku.png", id: "heroku" %>
		<span id="plus">+</span>
		<%= fa_icon "coffee", id: "coffee" %>
	</div>

	<h1><span id="brand">Kaffeine</span> pings your Heroku app every 30 minutes so it will never go to sleep* (<a href="https://blog.heroku.com/archives/2013/6/20/app_sleeping_on_heroku" target="_blank">read more</a>)</h1>

	<h3> Add yours: </h3>

	<div id="url">
		<span id="http">http://</span>
		<input id="register-input" type="text" placeholder="app name..."></input>
		<span id="com">.herokuapp.com</span>
	</div>
	<a id="register" class="button">Give my app a caffeine shot every 30 minutes <%= fa_icon("coffee") %></a>

	<div id="information">
		<%= image_tag "loader.gif", id: "loader", class: "loader hide" %>
		<div id="failure" class="info hide">Something went wrong <%= fa_icon("thumbs-down") %></div>
		<div id="failure-name" class="info hide">It can only contain letters, numbers, and dashes. <%= fa_icon("thumbs-down") %></div>
		<div id="already" class="info hide">App already added <%= fa_icon("thumbs-up") %></div>
		<div id="success" class="info hide"><%= fa_icon("check") %> Awesome, your app will never fell asleep again :)</div>
	</div>

	<a href="https://twitter.com/share" id="twitter" class="twitter-share-button social" data-text="Give Caffeine to Heroku apps">Tweet</a>
</div>