<div id="content">

	<div id="header">
		<%= image_tag "heroku.png", id: "heroku" %>
		<span id="plus">+</span>
		<%= fa_icon "coffee", id: "coffee" %>
	</div>

	<h1><span id="brand">Kaffeine</span> pings your Heroku app every 10 minutes so it will never go to sleep* (<a href="https://blog.heroku.com/archives/2013/6/20/app_sleeping_on_heroku" target="_blank">read more</a>)</h1>

	<h3> Add yours: </h3>

	<div id="url">
		<span id="http">http://</span>
		<input id="register-input" type="text" placeholder="app name..."></input>
		<span id="com">.herokuapp.com</span>
	</div>
	<a id="register" class="button">Give my app a caffeine shot every 10 minutes <%= fa_icon("coffee") %></a>

	<div id="information">
		<%= image_tag "loader.gif", id: "loader", class: "loader hide" %>
		<div id="failure" class="info hide failure"><%= fa_icon("thumbs-down") %> Something went wrong.</div>
		<div id="failure-regex" class="info hide failure"><%= fa_icon("thumbs-down") %> It can only contain letters, numbers, and dashes.</div>
		<div id="failure-name" class="info hide failure"><%= fa_icon("thumbs-down") %> The string needs to be under 30 characters.</div>
		<div id="already" class="info hide success"><%= fa_icon("thumbs-up") %> App already added</div>
		<div id="success" class="info hide success"><%= fa_icon("check") %> Awesome, your app will never fell asleep again :)</div>
	</div>

	<div id="footer">
		<span id="info">Already <span id="count" data-count="<%=@count%>"><%= @count %></span> websites love Kaffeine, thanks for sharing!</span>
		<div id="social">
			<a id="twitter" class="twitter-share-button social" href="https://twitter.com/share" data-text="Prevent your free Heroku app from ever falling asleep again"></a>
			<iframe id="github" src="http://ghbtns.com/github-btn.html?user=RomainButteaud&repo=Kaffeine&type=watch&count=true" height="30" width="118" frameborder="0" scrolling="0" style="width:118px; height: 30px;" allowTransparency="true"></iframe>
		</div>
	</div>
</div>